LOG_LEVEL=info

GRPC_HOST=0.0.0.0
GRPC_PORT=9999

MONGO_HOST=0.0.0.0
MONGO_PORT=9999
MONGO_DB=mongo_db
MONGO_USER=mongo_user
MONGO_PASSWORD=mongo_password

MONGO_MAX_POOL_SIZE=1
MONGO_MIN_POOL_SIZE=1
MONGO_CONN_TIMEOUT=1s